<div>
  <h2> Welcome to the page for <%= @library.name %>! </h2>
  <h3> Here at <%= @library.name %> we have <%= @library.floor_count %> stories of books! </h3>
  <h3> Come get you some! </h3>
</div>
